<div class="table-responsive" ng-controller="CourseController as cc">
  <table class="table table-striped">
    <thead>
      <tr>
        <th>Dept.</th>
        <th>Number</th>
        <th>Course Name</th>
        <th>Instructor</th>
        <!-- <th>Header</th>
        <th>Header</th> -->
      </tr>
    </thead>
    <tbody>
      <tr ng-repeat="course in courses">
        <td>{{course.department}}</td>
        <td>{{course.number}}</td>
        <td>{{course.title}}</td>
        <td>{{course.instructor}}</td>
      </tr>
      <tr>
        <td><input type="text" ng-model="newCourse.department"></td>
        <td><input type="text" ng-model="newCourse.number"></td>
        <td><input type="text" ng-model="newCourse.title"></td>
        <td>
          <select ng-model="newCourse.instructor" ng-options="instructor.id as instructor.lastname for instructor in instructors">
          </select>
        </td>
      </tr>
    </tbody>
  </table>
  <button
    ng-click="addCourse()"
    class="btn btn-primary btn-sm">Add Course</button>  
</div>